<div class="body-cp">
  <form class="form-cp">
    <span class="nav-dot"></span>
      </label>
      <input id="input-3" type="email" placeholder="email@address.com" required />
      <label for="input-3">
        <span class="label-text">Email</span>
        <span class="nav-dot"></span>
      </label>
      <input id="input-4" type="text" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
      <label for="input-4">
        <span class="label-text">Password</span>
        <span class="nav-dot"></span>
      </label>
      <input id="input-5" type="text" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required />
      <label for="input-5">
        <span class="label-text">Confirm Password</span>
        <span class="nav-dot"></span>
      </label>
      <button type="submit">Create Your Account</button>
      <p class="tip">Press Tab</p>
  </form>
</div>
