.banner {
  padding: 150px 0;
  background-color: $saumon;
  min-height: 60vh;
}

.inner-banner{
  align-items: center;
  // justify-content:center;
  margin-top: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  display: flex;

}

.search-bar {
  padding: 18px 34px;
  border-radius: 10px;
  margin: 8px;
}
