.banner {
  background-color: $saumon;
  min-height: 83vh;
}

.inner-banner{
  align-items: center;
  // justify-content:center;
  margin-top: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  display: flex;

}

.search-bar {
  padding: 18px 34px;
  border-radius: 10px;
  margin: 8px;
}

#picture-banner {
  background-image: url('basketteur.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  p {
    font-size: 26px;
    line-height: 34px;
    margin-top: 15px;
  }
}
