.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-blue {
  background-color:$bluesecond ;
  border: 1px solid #4A4A4A;
  padding: 18px 34px;
  border-radius: 10px;
  color: white;
  margin: 8px;
}

.btn-navbar {
  background-color: $bluesecond;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  margin: 8px;
  text-decoration: none;
}

.btn-navbar:hover {
  color: white;
  background-color: $bluefonce;
}

.btn-find{
  background-color: $bluesecond;
  text-decoration: none;
  color:white;
  padding:8px 20px;
  border-radius: 5px;
  margin:8px;
}

.btn-add{
  color:black;
  background-color: white;
  border-radius: 5px;
  margin:8px;
  padding:8px 20px;
  border:1px solid black;
  text-decoration:none;
}

.btn-delete{
  text-decoration: none;
  color:black;
  background-color: white;
  border-radius: 5px;
  margin:8px;
  padding:8px 20px;
  border:1px solid black;
  }
  :hover{
  color:$bluesecond;

}
