.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-blue {
  background-color: $bluesecond;
  border: 1px solid $bluesecond;
  padding: 8px 12px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: white;
  margin: 8px 8px 8px 0px;
  width: 62px;
  height: 62px;
  font-size: 24px;
}

.btn-navbar {
  background-color: $bluesecond;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  margin: 8px;
  text-decoration: none;
}

.btn-navbar:hover {
  color: white;
  background-color: $bluefonce;
}

.btn-find{
  background-color: $bluesecond;
  text-decoration: none;
  color:white;
  padding:8px 20px;
  border-radius: 5px;
  margin:8px;
}

.btn-fav{
  background-color: transparent;
  border:none;
  text-decoration:none;
  font-size: 28px;
  padding: 0;
  color: rgb(202, 29, 52);
  i {
    color: rgb(202, 29, 52);
  }
}

.btn-delete {
  text-decoration: none;
  color: black;
}

.star-yellow{
  color:gold;
}

.btn-delete-friends {
    background-color: red;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    // margin: 50px;
    padding: 7px;
    font-weight: 900;
}

.btn-accept-friends {
    background-color: green;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    // margin-left: 50px;
    padding: 7px;
    font-weight: 900;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.pagination a {
  color: #005585;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .current {
  padding: 8px 16px;
}

.btn-outline {
  background-color: transparent;
  color: $bluesecond;
  font-weight: bold;
  padding: 12px 30px;
  border-style: solid;
  border-width: 3px;
  border-color: $bluesecond;
  border-radius: 10px;
  margin: 8px;
  text-decoration: none;

  &:hover {
    color: $bluesecond;
  }
}

.cancel {
  display: flex;
  margin-top: 30px;
}
