#query_sport {
    width: 400px;
    padding: 18px 34px;
    background: #f4f4f4;
    border: 1px solid #dcd7d3;
    border-radius: 10px;
}

#query_perimeter {
    width: 150px;
    padding: 18px 34px;
    background: #f4f4f4;
    border: 1px solid #dcd7d3;
    border-radius: 10px;
}


.query_perimeter {
    margin-bottom: 0 !important;
}
