.navbar-lewagon {
  justify-content: space-between;
  background: $saumonclair;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 50px;
}

.nav-item {
    display: flex;
    align-items: center;
}
