.tag-item {
  display: inline-block;
  position: relative;
}

.participants {
  position: absolute;
  top: -4px;
  right: 7px;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: black;
  width: 14px;
  height: 14px;
  text-align: center;
  background-color: white;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: $saumon;
  color: $orange;
  border: 1px solid $saumon;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $orange;
  color: white;
  border-color: $orange;
}

.slot {
  width: 60px;
  display: flex;
  justify-content: center;
}

.flatpickr-calendar {
  margin-right: auto;
  margin-left: auto;
}

.presence_hour {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
