<% if field.reviews.empty? %>
  <small><em class="text-muted">Be the first one to review this list</em></small>
<% else %>
  <h3>Reviews</h3>
  <div class=" mb-5">
    <% field.reviews.each do |review| %>
      <%= link_to review.user.username, profile_path(user: review.user.id), class:"text-decoration-none fw-bold" %>
      <div class="d-flex justify-content-between align-items-end">
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment%></p>
        </div>
        <div>
          <%= link_to review_path(review), method: :delete do %>
            <i class="fas fa-trash btn-delete"  ></i>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>
